h1 {
    @include base-header;
    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 2.5);
    }
}


h2 {
    @include base-header;

    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 2);
    }
}

h3 {
    @include base-header;

    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 1.75);
    }
}

h4 {
    @include base-header;

    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 1.5);
    }
}

h5 {
    @include base-header;

    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 1.25);
    }
}

p {
    @media screen and (max-width: 767px) {
        font-size: proportion(0.5, 1);
    }
}

ul {
    li {
        @media screen and (max-width: 767px) {
            font-size: proportion(0.5, 1);
        }
    }
}