<!DOCTYPE html>
<section class="portfolio">
    <div ng-show="vm.loadingPortfolio">
        <i class="fas fa-spinner fa-spin fa-fw"></i> Cargando portafolio...
    </div>
    <div ng-show="!vm.loadingPortfolio">
        <div uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides" class="portfolio-carousel mb-1">
            <div uib-slide ng-repeat="slide in vm.portfolio track by $index" index="$index" class="portfolio-slide">
                <img ng-src="{{slide.imageUrl}}" class="d-block w-100">
                <div class="carousel-caption portfolio-carousel-caption">
                    <p>{{slide.title}}</p>
                    <p>
                        <small>({{slide.dateYear}})</small>
                        <i ng-repeat="tool in slide.tools" class="fab {{tool.icon}} fa-fw" 
                        data-toggle="tooltip" data-placement="bottom" 
                        title="En este proyecto se usó {{tool.name}}"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- <p>¿Opciones de visualización?</p> -->
</section>