<!DOCTYPE html>
<section class="about">
    <section class="me">
        <div class="row mb-3">
            <div class="col-md-6 col-sm-12">
                <h1>
                    Nombre<br />
                    <small>Desarrollador Web</small>
                </h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="https://via.placeholder.com/1000x500" class="img-fluid" />
            </div>
        </div>
    </section>

    <section class="description">
        <p>Titulado de <strong>Ingeniería de Ejecución en Informática</strong> en la <strong>Universidad Técnica Federico Santa María</strong>.</p>

        <p>Desarrollador web con más de 3 años de experiencia en el ámbito laboral, dentro de la cual se incluyen labores en <strong>Open Latinoamérica</strong>, <strong>Tecnova</strong>, <strong>Equifax</strong>, <strong>Digital Maker</strong> y <strong>Auranet</strong>.</p>

        <p>Fuera del ambito profesional: Leo, juego en la Switch, veo series y películas, y camino harto.</p>
    </section>


</section>