<!DOCTYPE html>
<section class="about">
    <section class="me">
        <h1>
            {{vm.name}}<br />
            <small>Desarrollador Web</small>
        </h1>
    </section>

    <section class="description">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <img src="img/perfil2.png" class="img-fluid mb-2" />
            </div>
            <div class="col-md-9 col-sm-12">
                <p>Titulado de <strong>Ingeniería de Ejecución en Informática</strong> en la <strong>Universidad Técnica Federico Santa María</strong>.</p>

                <p>Desarrollador web con más de 3 años de experiencia en el ámbito laboral, dentro de la cual se incluyen labores en:</p>

                <ul>
                    <li>
                        <strong>Open Latinoamérica</strong>
                    </li>
                    <li>
                        <strong>Tecnova</strong>
                    </li>
                    <li>
                        <strong>Equifax</strong>
                    </li>
                    <li>
                        <strong>Digital Maker</strong>
                    </li>
                    <li>
                        <strong>Auranet</strong>
                    </li>
                </ul>

                <p>Fuera del ambito profesional: Leo, juego en la Switch, veo series y películas, y camino harto.</p>
            </div>
        </div>
    </section>
</section>