<!DOCTYPE html>
<html ng-app="app" ng-cloak>

<head>
    <title>My Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="css/libs.css" />
    <link rel="stylesheet" href="css/main.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <header ng-controller="navCtrl as vm">
        <section class="title">
            <img src="img/perfil.png" alt="Imagen de perfil" />
            <button type="button" role="button" data-toggle="collapse" href="#collapseNav" aria-expanded="false"
                aria-controls="collapseNav">
                <i class="fas fa-bars fa-fw"></i>
            </button>
        </section>

        <div id="collapseNav" class="collapse">
            <nav>
                <a ng-repeat="option in vm.navOptions" ui-sref="{{option.uiSref}}" ui-sref-active="vm.uiSrefActive"
                    ng-click="vm.toggleCollapse()">
                    {{option.content}}
                </a>
            </nav>
        </div>
    </header>

    <aside ng-controller="navCtrl as vm">
        <section class="profile-image">
            <img src="img/perfil.png" alt="Imagen de perfil"/>
        </section>

        <nav>
            <a ng-repeat="option in vm.navOptions" ui-sref="{{option.uiSref}}" ui-sref-active="vm.uiSrefActive">
                {{option.content}}
            </a>
        </nav>

        <section class="social-networks">
            <a ng-repeat="socialNetwork in vm.socialNetworks" href="{{socialNetwork.url}}" target="_blank">
                <i class="fab {{socialNetwork.icon}} fa-fw fa-2x"></i>
            </a>
        </section>

        <section class="flair">
            <a href="https://stackexchange.com/users/6440637">
                <img src="https://stackexchange.com/users/flair/6440637.png" width="208" height="58"
                    alt="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad"
                    title="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad">
            </a>
        </section>

        <section class="contact-mail">
            <i class="fas fa-envelope"></i> {{vm.email}}
        </section>

        <section class="copyright">
            &#169; {{vm.year}}
        </section>
    </aside>

    <main ui-view>
    </main>

    <footer ng-controller="navCtrl as vm">
        <section class="social-networks">
            <a ng-repeat="socialNetwork in vm.socialNetworks" href="{{socialNetwork.url}}" target="_blank">
                <i ng-class="{'fab':true}" class="{{socialNetwork.icon}} fa-2x fa-fw"></i>
            </a>
        </section>

        <hr />

        <section class="flair">
            <a href="https://stackexchange.com/users/6440637">
                <img src="https://stackexchange.com/users/flair/6440637.png" width="208" height="58"
                    alt="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad"
                    title="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad">
            </a>
        </section>

        <hr />

        <section class="contact-mail">
            <i class="fas fa-envelope"></i> {{vm.email}}
        </section>

        <section class="copyright">
            &#169; {{vm.year}}
        </section>
    </footer>

    <script src="js/libs.js"></script>
    <script src="app.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>