.about {
    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .description {
        img {
            border: 1px solid darken($base-color, 20%);
            box-shadow: 3px 3px 5px darken($base-color, 20%);
        }
    }
}