.home {
    .featured-item {
        img {
            border: 1px solid darken($base-color, 20%);
            box-shadow: 3px 3px 5px darken($base-color, 20%);
        } 

        a {
            color: white;
            text-decoration: none;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}