.portfolio {
    .carousel {
        border: 1px solid darken($base-color, 20%);
        box-shadow: 3px 3px 5px darken($base-color, 20%);

        .portfolio-carousel-caption {
            position: absolute;
            text-align:center;
            color: darken($base-color, 80%);
            background-color: rgba($base-color, 0.85);
            font-weight: bold;

            @media screen and (max-width: 767px) {
                font-size:0.75rem;
                padding:0.25rem;
                bottom:23px;
            }

            @media screen and (min-width: 768px) {
                font-size: 1rem;
                padding:0.5rem;
                bottom:24px;
            }

            a {
                color: white;

                &:hover {
                    opacity: 0.5;
                }
            }

            .tools {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .carousel-control-prev {
            &:hover {
                background: linear-gradient(to right, rgba($base-color, 80), transparent);
            }
        }

        .carousel-control-next {
            &:hover {
                background: linear-gradient(to left, rgba($base-color, 80), transparent);
            }
        }

        .carousel-indicators {
            border-top: 1px solid darken($base-color, 20%);
            background-color: rgba($base-color, 0.85);
            margin-left:0;
            margin-right:0;
            margin-bottom:0;

            li {
                width: 15px;

                &.active {
                    background-color: darken($base-color, 20%);
                }
            }
        }
    }
}